* {
  --color-white: #eeeeee;
  --theme-color-1: #34b3f1;
  --theme-color-2: #f15412;
  --natural-color: #000000;
  box-sizing: border-box;
  /*
    
    #34B3F1
    #000000
    #F15412
    
    */
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Comfortaa", sans-serif;
  font-size: 20px;
  position: relative;
  /* overflow-x: hidden; */
}
body {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
#main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  background-color: #000000;
  color: var(--theme-color-1);
  z-index: 9999;
  position: relative;
}
header img {
  height: 3.24em;
  align-items: center;
  padding: 3px 1em;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-right: 2em;
  list-style: none;
}
ul li {
  position: relative;
}
ul li a {
  text-decoration: none;
  cursor: pointer;
  color: var(--theme-color-1);
  font-weight: 500;
  transition: all 0.6s ease-in linear;
  position: relative;
}
li a:hover {
  color: var(--theme-color-2);
}
li a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0px;
  height: 2px;
  width: 0%;
  background-color: #f15412;
  border-radius: 5px;
  transition: width 0.5s ease;
}
li a:hover::after {
  width: 100%;
}

nav i {
  display: none;
}
nav #mobilescreen {
  display: none !important;
}

#main #content {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  box-sizing: border-box;
  /* height: calc(100vh - 100px); */
}
/* Main Slider (swiper_1) Styles */
.swiper_1 {
  position: relative;
  display: flex;
  min-height: 500px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.swiper_1 .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: var(--theme-color-1);
  opacity: 0.5;
}

.swiper_1 .swiper-pagination-bullet-active {
  background: var(--theme-color-2);
  opacity: 1;
}

/* Card Swiper Styles */

.slide_1,
.slide_2,
.slide_3 {
  display: flex;
  flex-direction: column;
  background-image: url("./slide2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 100%;
  mix-blend-mode: exclusion;
  font-size: 30px;
  padding: 10px;
}
.slide_1::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  /* background-color: rgba(0, 0, 0, 0.471); */
  background: linear-gradient(
    75deg,
    rgba(0, 0, 0, 0.552) 0 20%,
    rgba(15, 15, 15, 0.495) 50% 100%
  );
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* slide_2 */
.slide_2 {
  background-image: url("./slide2.jpg");
  mix-blend-mode: exclusion;
}
.slide_2::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.454);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.slide_3 {
  background-image: url("./slide3.jpeg");
  mix-blend-mode: exclusion;
}

.slide_3::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.646);
  width: 100%;
  height: 100%;
  z-index: -1;
}
:is(.slide_1, .slide_2, .slide_3) h3 {
  font-size: 2.5em;
  padding: 0 0.5em;
  color: #34b3f1;
  font-weight: 600;
  margin-bottom: 0;
}

:is(.slide_1, .slide_2, .slide_3) p {
  font-size: 0.7em;
  padding: 0 2em;
  color: whitesmoke;
  margin-bottom: 2em;
}
button {
  font-size: 1em;
  padding: 0.3em;
  margin-left: 1.4em;
  width: 200px;
  letter-spacing: 2px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #34b3f1;
}
button:hover {
  background-color: #f15412;
  color: whitesmoke;
  transition: all 0.3s ease;
}
:has(button:hover).swiper-slide h3 {
  color: #f15412;
}

/* about us */
#aboutus {
  /* height: 100%; */
  width: 100%;
  padding: 5vw 0px;
}
.inneraboutcontainer {
  display: grid;
  gap: 10px;
  grid-template-columns: 50% 50%;
  padding-left: 2em;
  padding-right: 2.5em;
  padding-top: 3em;
  padding-bottom: 3em;
}
.leftabout {
  display: block;
  height: 100%;
  width: 100%;
}
.leftabout h1 {
  font-size: 6vw;
  margin: 5px;
}
.rightabout {
  display: block;
  height: 100%;
  width: 100%;
}
.rightabout h1 {
  display: none;
}
.rightabout img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
#service {
  /* height: 80%; */
  width: 100%;
  padding: 1vw 0px;
  background: linear-gradient(
    75deg,
    rgba(67, 128, 219, 0.572) 10% 60%,
    rgba(227, 88, 33, 0.616) 50% 100%
  );
  background-color: rgba(0, 0, 0, 0.655);
  mix-blend-mode: multiply;
}
.innerservice {
  padding: 0px 1.5rem;
  padding: 3vw 0;
  position: relative;

}
.innerservice h1 {
  font-size: 8vw;
  letter-spacing: 15px;
  font-weight: 900;
  margin: 0px 0px 0px 15px;
  background: linear-gradient(
    30deg,
    rgb(232, 80, 19) 25%,
    rgb(67, 128, 219) 60%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.3);
}
.innerservice::before {
  content: "Our Services";
  position: absolute;
  left: 10px;
  top: 0px;
  opacity: 0.1;
  z-index: -1;
  padding: 10px;
  letter-spacing: 10px;
  word-spacing: 5px;
  font-size: 15vw;
  /* display: flex; */
  /* align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%; */
}

.cardswiper {
  height: 350px;
  width: 300px;
}

.cardswiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5em;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.cardswiper .swiper-slide h2 {
  font-size: 1.2em;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  letter-spacing: 0.25em;
  color: var(--color-white);
  font-weight: 900;
  text-align: center;
  width: 100%;
  position: relative;
  top: 100px;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5),
    -1px -1px 0 rgba(241, 241, 241, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5),
    -1px 1px 0 rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
}
.cardswiper .swiper-slide h2::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(117, 113, 113, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5.4px);
  backdrop-filter: blur(5.4px);
  /* border: 1px solid rgba(117, 113, 113, 0.11); */
  z-index: -1;
  opacity: 0.7;
  border: 1px solid var(--color-white);
  border-bottom: 2px solid var(--color-white);
  border-top: 2px solid var(--color-white);
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.cardswiper .swiper-slide:nth-child(1) {
  background: url("./cervical-2441707_1280.jpg") no-repeat center;
  background-size: cover;
}
.cardswiper .swiper-slide:nth-child(2) {
  background: url("./woman-567021_1280.jpg") no-repeat left;
  background-size: cover;
}
.cardswiper .swiper-slide:nth-child(3) {
  background: url("./nail-art-5653458_1280.jpg") no-repeat center;
  background-size: cover;
}
.cardswiper .swiper-slide:nth-child(4) {
  background: url("./ai-generated-8270432_1280.jpg") no-repeat center;
  background-size: cover;
}
.cardswiper .swiper-slide:nth-child(5) {
  background: url("./perfumery-4148638_1280.jpg") no-repeat center;
  background-size: cover;
}

/* sections */
.section-1 img {
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 200px;
}

.section-2 .quicklinksection {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sections h3 {
  padding-inline-start: 5px;
}
.quicklinksection nav {
  width: 100%;
  height: 100%;
}
.quicklinksection nav ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 25px;
}
.quicklinksection nav ul li a {
  font-size: 0.89 em;
  letter-spacing: 1px;
}
.section-3 .details {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  /* border: 1px solid yellowgreen; */
}
.details .detailssection {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.detailssection p b {
  color: #34b3f1;
}
.detailssection p span,
span a {
  color: rgba(245, 245, 245, 0.689);
  font-size: 1em;
  text-decoration: none;
}
.detailssection p span a:hover {
  color: #f15412;
  transition: color 0.3s linear;
}

.section-4 .iconslist {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.icons a {
  text-decoration: none;
  color: rgba(245, 245, 245, 0.689);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 10px;
  pointer-events: none;
}
.icons a i {
  font-size: 1.6em;
  /* color: yellow; */
  pointer-events: visible;
}
.icons a i span {
  display: none;
  font-size: 0.5em;
}
:is(.icon:hover) i {
  transform: translateY(-10px);
  color: var(--theme-color-2);
  transition: all 0.4s ease-in;
}
:is(.icon:hover) i span {
  display: inline-flex;
  position: absolute;
  top: 36px;
  left: 32px;
  width: 100px;
  white-space: nowrap;
  color: rgba(241, 241, 241, 0.877);
}

/* gallery */
#gallery {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* overflow: hidden; */
  justify-content: center;
  align-items: center;
  padding: 80px 40px 80px 40px;
}
#gallery h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: clamp(5em, 1vw, 9em);
  background: linear-gradient(
    270deg,
    #f7d4d4f8,
    #f15412 45%,
    transparent 45%,
    #0c59806a 2%,
    transparent 60%,
    #0c5980 20%,
    #34b3f1 60%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.gallerycontent {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.gallerycontent p {
  font-size: clamp(0.5em, 1vw, 1.7em);
  text-align: center;
  font-weight: 800;
  mix-blend-mode: difference;
  color: #242424f5;
}

#gallery .gallery-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  height: 100%;
}
.gallery-container .column {
  width: calc(100% / 2);
  position: relative;
  top: 100px;
  /* border: 1px solid purple; */
}
.leftbox,
.rightbox {
  will-change: transform;
}
.column .gallery-item {
  display: flex;
  padding: 10px;
  width: 100%;
}
.gallery-item img {
  display: block;
  width: 100%;
  height: auto;
}

/* blank area */
.blank-section {
  height: 30vh;
  width: auto;
}

/* footer */

footer {
  display: flex;
  position: relative;
  /* height must be attained through content only no need to provide height */
  width: 100%;
  background-color: #000000;
  color: white;
}
footer #footersection {
  display: grid;
  grid-template-columns: 20% 25% 30% 25%;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
#footersection .sections {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-right: 1px solid #6b6b6b42;
  height: 100%;
  width: 100%;
}

/* screen size 500px ke liye */

@media screen and (max-width: 500px) {
  /* slidercontent */
  :is(.slide_1, .slide_2, .slide_3) h3 {
    font-size: 1.8em;
    padding: 0 0.54em;
    /* color: goldenrod; */
    color: #f15412;
    text-align: center;
    /* line-height: 1em; */
  }
  :is(.slide_1, .slide_2, .slide_3) p {
    font-size: 0.55em;
    text-align: center;
  }
  :is(.slide_1, .slide_2, .slide_3) button {
    margin-bottom: 1em;
    margin-left: 27%;
    background-color: #f15412;
  }
  :is(.slide_1, .slide_2, .slide_3) button:hover {
    background-color: #34b3f1;
    color: #eeeeee;
  }

  /* services */

  .innerservice h1 {
    font-size: 3em;
    letter-spacing: 5px;
    font-weight: 900;
    margin: 5px;
    text-align: center;
    color: #0c5980;
  }
  .innerservice::before {
    content: "Our Services";
    position: absolute;
    left: 10px;
    top: 0px;
    opacity: 0.1;
    z-index: -1;
    padding: 10px;
    letter-spacing: 5px;
    word-spacing: 2px;
    font-size:22vw;
    height: 100%;
    width: 100%;
  }
  /* gallery */
  #gallery {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
  }
  .gallerycontent {
    display: flex;
    z-index: 3;
    justify-content: center;
    align-items: center;
    height: 60%;
    /* border: 1px solid rgba(255, 166, 0, 0.233); */
    position: relative;
    background: linear-gradient(
      20deg,
      #d6d9d9c7,
      rgba(0, 0, 0, 0.404) 30%,
      #d6d9d9c7
    );
    border-radius: 8px;
    /* justify-content: start; */
  }

  .gallerycontent p {
    color: #f5f8f9e1;
    padding: 15px;
  }
  #gallery h3 {
    color: #eeeeee;
    margin: 5px;
    background: linear-gradient(
      220deg,
      #f7d4d4f8,
      #f15412 45%,
      #1c5b7bb9 62%,
      transparent 60%,
      #0a86c4 70%,
      #34b3f1 90%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #gallery .gallery-container {
    position: absolute;
    top: 10%;
  }
  .blank-section {
    height: 50vh;
    width: 100%;
  }

  /* FOOTER */

  footer #footersection {
    display: flex;
    flex-direction: column;
  }

  .section-4 .iconslist {
    padding: 10px;
  }
  .iconslist h3 {
    padding: 5px;
  }
  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .detailssection {
    padding: 30px;
  }
  .innerservice::before{
display: flex;
justify-content: center;
align-items: center;
  }

}

@media (min-width: 501px) and (max-width: 910px) {
  /* slidecontent */
  :is(.slide_1, .slide_2, .slide_3) h3 {
    font-size: 1.8em;
    padding: 0 0.7em;
    /* text-align: center; */
  }
  :is(.slide_1, .slide_2, .slide_3) p {
    font-size: 0.6em;
  }
  /* footer */
  footer #footersection {
    display: flex;
    flex-direction: column;
  }

  .section-4 .iconslist {
    padding: 10px;
  }
  .sections h3 {
    padding: 5px;
    text-align: center;
  }
  .section-3 .detailssection {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* gallery */
  #gallery {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
  }
  .gallerycontent {
    display: flex;
    z-index: 3;
    justify-content: center;
    align-items: center;
    height: 60%;
    /* border: 1px solid rgba(255, 166, 0, 0.233); */
    position: relative;
    background: linear-gradient(
      20deg,
      #d6d9d9c7,
      rgba(0, 0, 0, 0.404) 30%,
      #d6d9d9c7
    );
    border-radius: 8px;
    /* justify-content: start; */
  }

  .gallerycontent p {
    color: #f5f8f9e1;
    padding: 15px;
  }
  #gallery h3 {
    color: #eeeeee;
    margin: 5px;
    background: linear-gradient(
      220deg,
      #f7d4d4f8,
      #f15412 45%,
      #1c5b7bb9 62%,
      transparent 60%,
      #0a86c4 70%,
      #34b3f1 90%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #gallery .gallery-container {
    position: absolute;
    top: 15%;
  }
  .blank-section {
    height: 50vh;
    width: 100%;
  }
  .innerservice::before{
    font-size: 20vw;
    display: flex;
    align-items: center;
    justify-items: center;
  }
}

@media (max-width: 888px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1.4em;
  }

  nav .highscreen {
    display: none;
  }

  nav i:nth-child(3) {
    display: block;
    cursor: pointer;
    font-size: 1.5em;
    color: #f15412;
  }

  nav #mobilescreen {
    display: flex;
    background-color: rgba(65, 64, 64, 0.437);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    align-items: center;
    justify-content: center;
    position: absolute;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    top: 0%;
    left: 0;
    right: 100px;
  }
  #mobilescreen img {
    height: 170px;
    width: 320px;
    padding-top: 0px;
    padding-bottom: 30px;
  }
  #mobilescreen .lowscreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .lowscreen a {
    font-size: 1.5em;
    color: white;
    font-weight: 800;
  }

  #mobilescreen i {
    position: absolute;
    top: 40px;
    right: 60px;
    cursor: pointer;
  }

  .inneraboutcontainer {
    height: min-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .leftabout {
    text-align: center;
  }
  .leftabout h1 {
    display: none;
  }
  .rightabout h1 {
    display: block;
    font-size: 3rem;
    text-align: center;
    margin: 0;
    margin-bottom: 1em;
  }
  .rightabout img {
    height: 100%;
    width: 100%;
  }

  /* innerservices */
  /* .innerservice::before{
    font-size: 25vw;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
}

@media (min-width: 1200px) {
  :is(.slide_1, .slide_2, .slide_3) p {
    width: 60%;
  }
  .slide_2 p {
    width: 60%;
  }
  .slide_3 p {
    width: 60%;
  }
  #mobilescreen {
    display: none !important;
  }
  .blank-section{
  /* background-color: #000000 !important; */
  height: 50vh !important;
}
}

@media (min-width : 1202px){

}
/*  */
